body{
    font-family: 'Space Mono', 'monospace';
    font-weight:700;
    font-size:2rem;
    letter-spacing: 5px;
    margin:10rem 4rem;
    height:17rem;
}
.flex{
    display:flex;
    justify-items:center;
    align-items: center;
    flex-direction: column;
}


.heading{
    text-align: left;
}
.margin{
    margin:0.8rem;
}
.padding{
    padding:0.9rem;
}
